@import '../../../../../variable';

.row {
  position: relative;
}
.like-dislike{
  text-align: left;
  padding-bottom: 20px;
  padding-left: 36px;
  i{
    font-size: 21px;
    cursor: pointer;
  }
  .like{
    color: #95c800;
    padding-right: 15px;
    position: relative;
    .like-count{
      width: 140px;
      position: absolute;
      bottom: 40px;
      background: #000;
      display: none;
      padding: 4px;
      h5{
        margin: 0;
        font-size: 14px;
        color: #fff;
        padding: 0 6px;
        font-family: sans-serif;
      }
    }
  }
  .like:hover{
    .like-count{
      display: block;
    }
  }
  .dislike{
    color: $color-red;
    .dislike-count{
      width: 140px;
      position: absolute;
      bottom: 65px;
      background: #000;
      display: none;
      padding: 4px;
      h5{
        margin: 0;
        font-size: 14px;
        color: #fff;
        padding: 0 6px;
        font-family: sans-serif;
      }
    }
  }
  .dislike:hover{
    .dislike-count{
      display: block;
    }
  }
  .share-post{
    margin-right: 15px;
    cursor: pointer;
    background: #35bbbd;
    border-radius: 4px;
    border: none;
    padding: 4px 10px;
    color: #fff;
    .shared{
      font-size: 15px;
      margin-right: 4px;
    }
  }
  .share-post:hover{
    opacity: 0.8;
  }
}

.add-comment {
  padding: 10px 0;
  text-align: right;
  .text-comm {
    width: 100%;
    height: 50px;
    border: 1px solid #E5E5E5;
    color: #777777;
    font-size: 12px;
    padding: 12px;
    outline: none;
    border-radius: 2px;
  }
  .add-comm, .close-input {
    outline: none;
    font-size: 12px;
    height: 30px;
    box-shadow: none;
    border: none;
    margin: auto;
    color: #3F4752;
    border: 1px solid #E0E0E0;
    background: linear-gradient(#FFFFFF, #F5F5F5) #FCFCFC;
  }
  .add-comm:hover, .close-input:hover {
    background: $color-green;
    color: #fff;
  }
}

.borders {
  border-top: 1px solid rgba(0, 39, 59, 0.08);
  padding: 6px 0;
  border-bottom: 2px solid rgba(0, 39, 59, 0.08);
}

.author-img {
  padding: 0;
  img {
    width: 50px;
  }
}

.author {
  a {
    text-decoration: none;
    color: $color-green;
    transition: 0.3s;
    font-size: 12px;
  }
  a:hover {
    color: #333;
    transition: 0.3s;
  }
}
.comment-text {
  display: block;
  width: calc(100% - 90px);
  margin: -30px 0 0 62px;
  .comentContent{
    font-size: 14px;
    font-weight: 400;
  }
  ::ng-deep img{
    width: 35px !important;
    height: auto;
  }
}
.date {
  text-align: center;
  .date-comm {
    font-size: 12px;
    color: rgb(153, 153, 153);
  }
}

.replay-comment{
  width: 100%;
  padding: 5px 20px 5px 54px;
}

.replay {
  position: absolute;
  right: 10px;
  top: 0px;
  margin: 0;
  font-size: 18px;
  color: #565353;
  cursor: pointer;
  display: inline;
  color: #1b6d85;
}

.extend {
  position: absolute;
  right: 10px;
  top: 30px;
  margin: 0;
  font-size: 18px;
  color: #565353;
  cursor: pointer;
  display: inline;
  color: #1b6d85;
}

.add-comment{
  padding-left: 54px;
}

.delete-comm {
  text-align: right;
  .delete {
    color: $color-red;
    font-size: 20px;
    cursor: pointer;
  }
}

