<div class="poll-post">
  <p class="center-p">Adding a new Poll post</p>
  <form class="example-form" [formGroup]="pollForm">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="pollTitle" placeholder="Poll name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="Questions1" placeholder="Questions 1">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="Questions2" placeholder="Questions 2">
    </mat-form-field>
  </form>
  <div class="create-btn">
    <button (click)="addPoll(pollForm)" type="button" class="done btn btn-default">{{'newModal.done' | translate}}</button>
    <button (click)="onNoClick()" type="button" class="cancel btn btn-default">{{'newModal.cancel' | translate}}</button>
  </div>
</div>